/*  (https://css-tricks.com/snippets/css/media-queries-for-standard-devices/) */

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 481px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {

    .container {
        width: 100%;
    }
    header {
        height: 600px;
    }
    .header-text {
        padding-left: 6%;
        height: 80%;
    }
    .right-pattern {
        height: 35%;
    }
    .header-img img {
        width: 85%;
        height: 50%;
    }
    .left-pattern {
        height: 25%;
        top: 48%;
    }
    .sub-mid-part h2 {
        width: 90%;
    }
    .sub-mid-part p {
        width: 91%;
    }
    .last-part p {
        font-size: 1.75rem;
    }
    .footer-part {
        background-size: 40%;
    }
}
/***************************************************/

/* Mobile Styles */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
nav {
    width: 100%;
    height: 35px;
    padding: 23px 18px;
    position: fixed;
    z-index: 2;
}
.hamburgerIcon {
    display: inline-block;
    position: absolute;
    top: 28%;
    right: 15%;
}
.close-hamburgerIcon {
    display: inline-block;
    position: absolute;
    top: 28%;
    right: 15%;
    z-index: -1;
}
.hamburgerIcon.hidden {
    display: none;
}

.navList {
    position: fixed;
   /* background-color: hsl(256, 12%, 18%);*/
   background-color: hsl(256, 26%, 20%);
    width: 100%;
    height: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    clip-path: circle(1px at 100% 1%);
    -webkit-clip-path: circle(1px at 100% 1%);
    transition: all 1s ease-out;
    pointer-events: none;

}
.navList.open {
    clip-path: circle(1000px at 90% 10%);
    -webkit-clip-path: circle(1000px at 90% 10%);
    pointer-events: all;
}
.navList li a {
    color: white;
    margin-top: 15px;
    font-size: 18px;
}
.selected {
    border: 2px solid  white;
    padding: 7px 100px;
}
/* To make nav list appeare one after one*/
.navList li {
    opacity: 0;
}
.navList li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
}
.navList li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
}
.navList li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
}
.navList li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
}
li.fade {
    opacity: 1;
}
/**************************/
.navPattern {
    display: block;
}
.navPattern img {
    width: 100vw;
    position: absolute;
    bottom: 60px;
    left: 0;
}
header {
    height: 987px;
}
.header-section {
    margin-top: 510px;
    height: 500px;
}
.header-img {
    height: 430px;
    width: 100%;
    top: 80px;
    right: 0;
}
.header-img img {
    width: 100%;
    padding-left: 0;
    height: 100%;
}
.right-pattern {
    display: none;
}
.right-pattern-mob {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 830px;
    z-index: 1;
}
.left-pattern {
    display: none;
}
.left-pattern-mob {
    display: inline;
    position: absolute;
    top: 72%;
    z-index: 1;
}
.header-text {
    position: absolute;
    top: 510px;
    width: 93%;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;

    background: url(images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 479px;
    padding-top: 60px;
}
.header-line {
    display: none;
}
h1 {
    font-size: 2rem;
}
.header-text p {
    font-size: 16px;
    color: #ffffff96;
}
.first-part {
    margin: auto;
}
.body-line {
    margin: 10% auto;
}

.mid-part {
    display: flex;
    flex-wrap: wrap;
}
.body-section {
    width: 95%;
    padding-left: 5%;
}
.sub-mid-part {
    width: 100%;
    text-align: center;
    margin-top: 36px;
}
.sub-text {
    font-size: 16px;
    line-height: 26px;
}

.how-we-work-pattern {
    display: none;
}
.how-we-work-pattern-mob {
    display: inline;
    position: absolute;
    right: 4%;
}
.last-part {
    margin-top: 20%;
    margin-right: 4%;
    margin-bottom: 25%;
    width: 100%;
    height: 410px;
    padding-left: 48px;
    padding-right: 50px;
    text-align: center;
}
.last-part p{
    width: 100%;
    text-align: center;
    margin: 3px 1px;
    line-height: 50px;
}
.body-btn {
    position: initial;
    margin-top: 10%;
}
.footer-part {
    background: url(images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    height: 1030px;
}
.footer-logo-pattern {
    display: none;
}
.footer-logo {
    width: 100%;
    display: block;
    text-align: center;
    margin-left: 0;
}
.social-icons {
    margin-top: 30px;
    margin-right: 38%;
}
.footer-line {
    margin-top: 90px;
}
.footer-column {
    text-align: center;
    width: 64%;
    height: 205px;
    line-height: 31px;
}
.footer-column ul {
    width: 135px;
}
}